@font-face {
    font-family: "Basefigh";
    src: url('../fonts/NCL\ Basefigh\ Demo.otf');
}

#nav{
    height: 100px;
    background-color: #c4bcb3;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 0.5px solid rgb(74, 74, 74);
}

#Logo{
     font-family: 'Basefigh';
     font-size: 2.5vw;
}

@media  (max-width:768px){
    #Logo{
        font-family: 'Basefigh';
        font-size: 5.5vw;
   }

   #nav{
    height: 80px;
    background-color: #c4bcb3;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 0.5px solid rgb(74, 74, 74);
}

}