
@font-face {
    font-family: "Raveinus";
    src: url('../fonts/Raveinus.ttf');
}


@font-face {
    font-family: "Demo-text";
    src: url('../fonts/Demo-text.ttf');
}

@font-face {
    font-family: "Breath-Demo";
    src: url('../fonts/Breath_Demo.ttf');
}

@font-face {
    font-family: "QESTERO-Regular";
    src: url('../fonts/WERMINO-DEMO.ttf');
}



.title {
    text-align: center;
    font-size: 10vw;
    font-family: 'QESTERO-Regular';
    color: black;
    font-weight: 200;

    text-transform: uppercase;
}
hr{
    border-top: 1px solid black;
}
.tech-title{
    text-align: left;
    font-size: 40px;
    text-transform: uppercase;
    color: #7b4a12;
    margin-top: 50px;
    padding-left: 20px;
    font-family:'Demo-text';
   
}
.tech-text{
   
   font-size: 20px;
   width: 700px;
   font-family: 'Breath-Demo';
   margin: 60px;
   right: 0;
   left: 0;
   top: 0;
   text-align: justify;

  
}
.Technology, .Second-Outer{
    display: flex;
    justify-content: space-between;
    padding:20px 20px;
}
.image{
    background-image: url('../images/tech.jpg');
    width: 40vw;
    height: 20vw;
    margin-top: 80px;
    background-size: cover;
    
}
.left{
    width: 45%;
}


.Second-left{
    width:60vw;
    border-right: 1px solid black;
   

}



.Second-right{
    width:30vw;
    justify-content: center;
    margin-top: 10px;
}

.Left_Top, .Left_Bottom{
    display: flex;
    justify-content: space-between;
}
.Left_Top, .Left_Bottom{
    padding: 20px 20px;
    align-items: center;

}
.left_container{
    padding: 20px 20px;
    align-items: center;
    display: flex;
}
.Inner_Left{
    background-color: black;
    width: 20vw;
    height: 20vw;
    margin-left: 20px;
}

.Inner_right{
    width:50%;
    font-size: 20px;
    text-align: justify;

    
   }
   
.bottom_left{
    width:50%;
    font-size: 20px;
    text-align: justify;

   
    
}
.right_text{
font-size: 20px;
margin-top: 30px;
font-family: 'Breath-Demo';
text-align: justify;


}


.bottom_right{
    background-color: black;
    width: 20vw;
    height: 20vw;
    margin-right: 60px;

}


.right_image{
    background-color: black;
    width: 25vw;
    height: 25vw;


}


.title_holder{
    display: flex;
    justify-content: space-between;
    

}
.Second-Outer{
    padding-top: 40px;
}
.container1{
    padding-top: 50px;
    display: flex;
    height: 40vw;
    
}

.left_con_image{
    background-color: black;
    width: 30vw;
    height: 35vw;
    margin-left: 15px;
    
}
.right_con_image{
    background-color: black;
    width: 35vw;
    height: 20vw;
   
   
}
.right_con_text {
    font-size: 20px;
    width: 700px;
    font-family: 'Breath-Demo';
    margin: 50px;
    text-align: justify;

   
}
.left_con_text {
    font-size: 20px;
    width: 570px;
    font-family: 'Breath-Demo';
    margin-right: 20vw;
    margin-top: 30px;
    text-align: justify;

    justify-content: space-between;
}
.left_container{
    width:60vw;
    align-items: center;
    margin-bottom: 3vw;

}
.right_container{
    width:60vw;
    align-items: center;
    margin-bottom: 60vw;
}



@media (max-width: 480px) {
    .title {
        font-size: 8vw;
        margin: 20px 0;
   }
   
   hr{
     margin: 20px 0;
   }
   
   .tech-title{
   font-size: 24px;
    margin: 20px 0;
    margin: 20px 0;
   
   }
   
   .tech-text {
      font-size: 16px;
      width: 100%;
     margin: 20px auto;
     padding: 0 10px;
     line-height: 1.5;
     margin-top: 10px !important; 
      
   
   }
   
   .Technology, .Second-Outer {
       flex-wrap: wrap;
       padding: 20px;
       gap: 20px;
     
   }
   
   .image, .bottom_right,    .right_image {
       background-color: black;
       width: 100%;
       height: auto;
       aspect-ratio: 4 / 3;
       margin: 0 auto;
   }
   .Inner_Left,.bottom_right{
    background-color: black;
  
  
     width: 100%;
     height: auto;
     aspect-ratio: 10 /9 ;
     margin: 0 auto;

    
   }
 
.Second-left{
    width:60vw;
    border-right:none !important;
    border-left:none !important;
   

}
   .left, .Second-left, .Second-right {
       width: 100%;
   }
   
   
   .Inner_right, .bottom_left, .right_text {
       width: 100%;
       font-size: 16px;
       margin: 10px 0;
      
   }

  
   
   .title_holder {
       display: flex;
       justify-content: space-around;
       flex-wrap: wrap;
   }
   
   
   .Left_Top, .Left_Bottom {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       gap: 20px;
       padding: 10px;
   }
   
 

}



  